@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*-- scss:defaults --*/

// Base document colors
$body-bg: #181818;
$body-color: white;
$link-color: #75aadb;

$light: #525252;

// Navigation element colors
$footer-bg: #181818;
$navbar-bg: #303030;
$sidebar-bg: #303030;

// Code blocks
$code-block-bg-alpha: -0.8;

// Bootstrap popovers
$popover-bg: #242424;

// Bootstrap inputs
$input-bg: #242424;

/*-- scss:rules --*/

html {
  font-size: 16px;
}

span.navbar-title {
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

body {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-weight: 400;
}

code {
  font-family: 'Fira Code', sans-serif;
  font-variant-ligatures: common-ligatures;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-weight: 700;
}

img.img-fluid {
  margin: auto;
  display: block;
}
