venv/*
*.joblib
*.gif
*.png
*.lock
*/__pycache__/*
*.code-workspace
*.pyc
*.npz
*.egg-info/*
*.json
assets/bop/*
assets/panda_dataset/*
assets/ycb_video_models/*
*.jpeg
experiments/3dnel/threednel
.ipynb_checkpoints
*/.ipynb_checkpoints/*
assets/sam/*
assets/tum/*
.vscode/*
*.lock
*.lock
*.MOV
assets/*
*.jpg
*.ply
*.zip
*.npz
*.txt
*.pdf
*.pkl
