[submodule "bayes3d/cosypose_baseline/cosypose"]
	path = bayes3d/cosypose_baseline/cosypose
	url = https://github.com/Simple-Robotics/cosypose.git
[submodule "genjax"]
	path = genjax
	url = https://github.com/probcomp/genjax.git
