venv/*
*.joblib
*.gif
*.png
*/__pycache__/*
*.code-workspace
*.pyc
*.npz
*.egg-info/*
*.json
test/physics_priors.py
assets/bop/*
assets/panda_dataset/*
assets/ycb_video_models/*
*.jpeg
experiments/3dnel/threednel
.ipynb_checkpoints
*/.ipynb_checkpoints/*
assets/sam/*
assets/tum/*
.vscode/*