[submodule "jax3dp3/posecnn-pytorch/PoseCNN-PyTorch"]
	path = jax3dp3/posecnn-pytorch/PoseCNN-PyTorch
	url = https://github.com/karen-sy/PoseCNN-PyTorch.git
[submodule "jax3dp3/cosypose_baseline/cosypose"]
	path = jax3dp3/cosypose_baseline/cosypose
	url = https://github.com/Simple-Robotics/cosypose.git