scikit-learn
wheel
ipython
jupyter
numpy
matplotlib
pillow
opencv-python
open3d
graphviz
distinctipy
trimesh
ninja
pyransac3d
meshcat
h5py
gdown
pytest
zmq
plyfile
jupyterlab
imageio
timm
joblib
pdoc3
addict
tensorflow-probability
flax
omegaconf
fvcore
iopath
submitit
wget
mkdocs
mkdocs-material
natsort
pyliblzfse
pypng
tyro
