wheel
ipython
jupyter
numpy
matplotlib
Pillow
opencv-python
tensorflow-probability
pybullet
open3d
graphviz
distinctipy
moderngl
trimesh
ninja
pyransac3d
meshcat
h5py
gdown
torch
torchvision
torchaudio