wheel
ipython
jupyter
numpy
matplotlib
Pillow
opencv-python
tensorflow-probability
pybullet
open3d
graphviz
distinctipy
moderngl
trimesh
ninja
pyransac3d
meshcat
h5py
gdown
torch
torchvision
torchaudio
pickle5
zmq
tqdm
https://storage.googleapis.com/jax-releases/cuda11/jaxlib-0.4.7+cuda11.cudnn86-cp39-cp39-manylinux2014_x86_64.whl
jax==0.4.7
jupyterlab
imageio
dm_control