* text=auto eol=lf
docs/* linguist-documentation
notebooks/* linguist-documentation
site/* linguist-documentation
*.html linguist-vendored
*.js linguist-vendored
*.ipynb linguist-vendored
*.css linguist-vendored
