@font-face {
  font-family: 'Iosevka';
  src: url(../assets/font/iosevka-custom-bold.ttf) format('truetype');
  font-style: normal;
  font-weight: 100 1000;
}

@font-face {
  font-family: 'Iosevka';
  src: url(../assets/font/iosevka-custom-bolditalic.ttf) format('truetype');
  font-style: italic;
  font-weight: 100 1000;
}
